<app-header titulo="card"></app-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vitae fugit cumque dolorem est maiores corporis perspiciatis. Tempore officia nisi debitis, quasi magnam eius, ipsa laborum fugit quo tempora corporis!
    </ion-card-content>

    <ion-card>
      <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2018/08/one-piece.jpg" alt="">
    </ion-card>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vitae fugit cumque dolorem est maiores corporis perspiciatis. Tempore officia nisi debitis, quasi magnam eius, ipsa laborum fugit quo tempora corporis!
    </ion-card-content>
    
  </ion-card>

</ion-content>
